@model AspCoreConsumeWebApi.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empName" class="control-label"></label>
                <input asp-for="empName" class="form-control" />
                <span asp-validation-for="empName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empAge" class="control-label"></label>
                <input asp-for="empAge" class="form-control" />
                <span asp-validation-for="empAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empGender" class="control-label"></label>
                <input asp-for="empGender" class="form-control" />
                <span asp-validation-for="empGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empDOJ" class="control-label"></label>
                <input asp-for="empDOJ" class="form-control" />
                <span asp-validation-for="empDOJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="designation" class="control-label"></label>
                <input asp-for="designation" class="form-control" />
                <span asp-validation-for="designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salary" class="control-label"></label>
                <input asp-for="salary" class="form-control" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
